/* Fonts */
@font-face {
    font-family: 'Closeness';
    src: url('/media/Closeness-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


/* Main style */
body {
    font-size: 2em;
	color: white;
}

#main ul {
    padding-left: 30px !important;
}

ol {
    list-style: decimal;
}

a {
    color: #007bff;
    text-decoration: none;
}

hr {
    border: none;
    height: 2px;
    background-color: #1b252f;
}


a:hover {
    color: #66b0ff !important;
	text-shadow: 0 0 8px, 0 0 6px;
}
a:visited {
    color: #007bff;
}

.wiki_title
{
	color : #42DC8C !important;
	font-family: Closeness !important;
	text-shadow: 0 0 10px, 0 0 5px;
}
	
/* Main content */
#main {
    background: #10101A;
}

#main .container {
    position:  relative;
    padding: 2.5em 0;
    z-index: 1;
    height: 100%;
}

#main .container::before {
    content: '';
    background: #10101A;
	color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3rem;
    right: -3rem;
    z-index: -1;
}

#main h2::before {
    content: '\00a0';
    position: absolute;
    left: -3rem;
    right: -3rem;
    z-index: -1;
}

#main h1 {
    color: #0cecb8;
	text-shadow: 0 0 8px, 0 0 4px;
}

#main h2 {
    color: #0cecb8;
    text-shadow: 0 0 8px, 0 0 4px;
}

#main h3 {
    color: #0cecb8;
    text-shadow: 0 0 8px, 0 0 4px;
}

code {
    font-size: 85%;
    color: #42DC8C;
	background-color : #0B0B10;
	border-color : #42DC8C;
}

blockquote {
    margin: 1rem 0;
    padding-left: 1.5rem;
    border-left: 5px solid #42DC8C;
}

::selection{
    background: #42dc8c85;
    color: white;
}
::-moz-selection {
    background: #42dc8c85;
    color: white;
}


/* Header */

.brand, footer {
    background: #0B0B10;
    color: #EEE;
}

.brand {
    font-size: 3rem;
    padding: 2rem 0;
}

.brand a {
    text-decoration: none;
    color: #EEE;
    transition: color .3s ease-in-out;
}

.brand a:hover {
    color: white;
}

/* nav bar */
.nav {
    margin: 0;
    display: inline-block;
	padding-top : 8px;
	padding-bottom : 5px;
}

ul.nav li {
    display: inline-block;
    height: 100%;
    margin: 0;
}

ul.nav li::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

/* nav link */
ul.nav li{
    text-decoration: none;
    display: inline-block;
    height: 100%;
    color: white;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

#search-input {
    display: inline-block;
    margin: 0;
    background: #10101A;
    border: none;
    width: 6em;
    transition: width .2s ease-in-out;
}

#search-input:focus{
    background: #08081A;
    width: 12em;
}

.nav-control {
    background: #42DC8C;
}

.nav-control .container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-control .container::after {
    content: none;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* nav button */
.nav-button, .nav-button:focus {
    margin: 0;
    color: black;
    padding: 0 1em;
    transition: color .2s ease;
    border: none;
}

.nav-button:hover {
    color: #EEE;
}

/* nav result */

.nav-result {
    background: #0B0B10;
    padding: 1rem 2em;
    max-height: 70vh;
    overflow-y: auto;
    position: absolute;
    left: 0;
    right: 0;
    /*border-style: solid;*/
    /*border-color: #333;*/
    /*border-width: 0 1px 1px 1px;*/
}
/*======================================================================
 * Search Result*/
#search-result em {
    background: rgba(207, 85, 197, 0.56);
    font-style: normal;
}

#search-result p {
    margin-bottom: 0;
}

/*======================================================================
 * for sticky footer */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main {
    flex: 1;
}

footer {
    font-size: 80%;
    padding: .5em 0;
    text-align: right;
}

/*======================================================================
 * TOC */

#toc li {
    margin: 0;
    list-style-position: outside;
}

#toc li.H3 {
    margin-left: 2em;
}

.toc-panel{
    background: #0B0B10;
    padding: 1em .5em .5em 3em;
    position: absolute;
    overflow-y: auto;
    max-width: 40%;
    max-height: 80vh;
    right: 0;
}

/*======================================================================
 * Utility class */
.hide {
    display: none;
}

.hljs
{
	background: #2c3245 !important;
	border-color: #2c2c44 !important;
}